@import '../variables.scss';

.app__header {
    position: sticky;
    height: 60px;
    margin-bottom: 0px;
    border-bottom: solid 1px $main-border-color;
    background: linear-gradient($header-bkg-color, darken($header-bkg-color, 6%));
    box-shadow: 0 8px 17px -4px hsla(0, 0%, 0%, 0.719);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 100;

    &--hide {
        top: -100px;
    }

    &--show {
        top: 0;
    }
}

.header__content {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu__toggler {
    background: transparent;
    border: none;
    outline: none;
    color: $basic-font-color;
    font-size: 1.3rem;
    float: left;
}


@media only screen and (min-width: 600px) {
    .menu__toggler {
        display: none;
    }

    .header__content {
        justify-content: flex-end;
        margin-right: 6vw;
    }
}

@media only screen and (min-width: 1025px) {
    .header__content {
        justify-content: center;
        margin-right: 0;
    }

}