@import '../variables.scss';

.logo__wrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex: 1;
    justify-content: center;


    >img {
        height: 50px !important;
        width: 90px !important;
    }

    >.logo {
        color: $celadon-blue;
        text-shadow: 0px 1px 1px hsla(240, 63%, 28%, 0.3);
        text-transform: uppercase;
        font-family: 'Coiny', sans-serif !important;
        font-size: 1.7rem;
        background-image: linear-gradient(45deg, $jungle-green, $queen-blue, $orange-red);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
}

@media only screen and (min-width: 710px) {
    .logo__wrapper {
        margin-top: 10px;
        margin-left: 2vw;
        flex: 0;
        position: absolute;
        left: 2vw;

        >img {
            height: 77px !important;
            width: 117px !important;
        }

        >.logo {
            font-size: 1.9rem;
        }
    }

}